html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-image: url("/images/background.jpg");
  background-repeat: repeat;
  background-position: center;
  color: #91d6d3;
  font-family: 'Corben' Georgia cursive;
}
a {
  text-decoration: inherit;
  font-style: inherit;
  color: inherit;
}
a:link a:visited {
  color: inherit;
}
a:hover {
  color: #fff;
}
a:active {
  color: #008080;
}
main header h1#aquaframe {
  text-align: center;
  background-image: url("/images/aquaframe.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: bold;
  font-family: 'Mountains of Christmas';
  padding: 8.7% 0;
  margin: 1% auto;
  font-size: 4vw;
  width: 50%;
}
main nav {
  margin: auto;
  text-align: center;
  font-size: 3vw;
}
main nav a {
  display: inline-block;
  padding: 1em;
  font-family: 'Life Savers' Georgia serif;
  letter-spacing: 0.1em;
}
main article {
  display: none;
}
main article#home {
  display: block;
}
main articletarget {
  position: relative;
  display: block;
}
main articletarget ~ #home {
  display: none;
}
main article h2 {
  font-family: 'Life Savers' Georgia serif;
  letter-spacing: 0.1em;
  display: none;
}
main article figure.exhibit {
  position: absolute;
  font-size: 1vw;
}
main article figure.exhibit figcaption {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 100%;
  left: 0;
}
main article form {
  font-size: 2em;
}
main article form label {
  display: flex;
  vertical-align: middle;
  margin: 1em;
}
main article form label.right {
  justify-content: flex-end;
}
main article form label [type=text],
main article form label [type=email],
main article form label textarea {
  font-size: 1em;
  vertical-align: middle;
  color: #3faaa5;
  background: #000;
  border: 1px solid #808080;
  border-radius: 0.25em;
  padding: 0.5em;
  flex-grow: 1;
  margin-left: 1em;
}
main article form label [type=submit] {
  background: #000;
  border: 1px solid #808080;
  border-radius: 0.25em;
  color: #fff;
  font-size: 1em;
  padding: 0.5em;
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
.wtf {
  content: 'wtf';
}
