
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-image: url('/images/background.jpg');
  background-repeat: repeat;
  background-position: center;
  color: rgb(145, 214, 211);
  font-family: 'Corben', cursive;
}
@media (min-width: 900px) {
  main header {
    width: 900px;
    margin: auto;
  }
}
main header h1#aquaframe {
  text-align: center;
  background-image: url('/images/aquaframe.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 16%;
  font-size: 9vw;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-family: 'Mountains of Christmas', cursive;
}
@media (min-width: 900px) {
  main header h1#aquaframe {
    font-size: 3.5em;
  }
}
main nav {
  margin: auto;
  text-align: center;
}
main nav a {
  color: rgb(145, 214, 211);
  text-decoration: none;
  display: inline-block;
  padding: 1em;
  font-family: 'Life Savers', serif;
  letter-spacing: .1em;
}
main nav a:hover {
  text-decoration: underline;
}
main article {
  display: none;
}
main article#home {
  display: block;
}
main article:target {
  position: relative;
  display: block;
}
main article:target ~ #home {
  display: none;
}
main article h2 {
  font-family: 'Life Savers', serif;
  letter-spacing: .1em;
}
main article figure.exhibit {
  position: absolute;
  font-size: 1vw;
}
main article figure.exhibit figcaption {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 100%;
  left: 0;
}
main article form {
  font-size: 2em;
}
main article form label {
  display: flex;
  vertical-align: middle;
  margin: 1em;
}
main article form label.right {
  justify-content: flex-end;
}
main article form label [type=text], main article form label [type=email], main article form label textarea {
  font-size: 1em;
  vertical-align: middle;
  color: rgb(94, 139, 137);
  background: black;
  border: 1px solid gray;
  border-radius: .25em;
  padding: .5em;
  flex-grow: 1;
  margin-left: 1em;
}
main article form label [type=submit] {
  background: black;
  border: 1px solid gray;
  border-radius: .25em;
  color: white;
  font-size: 1em;
  padding: .5em;
}

#illustrationSpecimen {
  width: 26%;
  padding: 16% 0;
  margin: 3% 0 0 0;
  left: 5%;
  background-image: url(images/Claudette.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#paintingSpecimen {
  width: 25%;
  padding: 12.5% 0;
  margin: 5% 0 0 0;
  left: 37%;
  background-image: url(images/His_Lovely_Assistant.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#sculptureSpecimen {
  width: 26%;
  padding: 16% 0;
  margin: 3% 0 0 0;
  left: 69%;
  background-image: url(images/Priscilla_And_Peach.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#animationSpecimen {
  width: 30%;
  padding: 17% 0;
  margin: 50% 0 0 0;
  left: 5%;
  background-image: url(images/Max_And_Jax.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#claudette {
  width: 26%;
  padding: 16% 0;
  margin: 3% 0 0 0;
  left: 5%;
  background-image: url(images/Claudette.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#hisLovelyAssistant {
  width: 25%;
  padding: 12.5% 0;
  margin: 5% 0 0 0;
  left: 37%;
  background-image: url(images/His_Lovely_Assistant.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#priscillaAndPeach {
  width: 26%;
  padding: 16% 0;
  margin: 3% 0 0 0;
  left: 69%;
  background-image: url(images/Priscilla_And_Peach.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#maxAndJax {
  width: 30%;
  padding: 17% 0;
  margin: 50% 0 0 0;
  left: 5%;
  background-image: url(images/Max_And_Jax.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#mementoMori {
  width: 40%;
  padding: 12% 0;
  margin: 50% 0 0 0;
  left: 49%;
  background-image: url(images/Memento_Mori.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#theMoon {
  width: 30%;
  padding: 12% 0;
  margin: 82% 0 0 0;
  left: 64%;
  background-image: url(images/The_Moon.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#bandLogo {
  width: 21%;
  padding: 10.5% 0;
  margin: 78% 0 0 0;
  left: 39%;
  background-image: url(images/Band_Logo.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#theSalesman {
  width: 25.5%;
  padding: 15.5% 0;
  margin: 99% 0 0 0;
  left: 5%;
  background-image: url(images/The_Salesman.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#voodooDoll {
  width: 25.5%;
  padding: 15.5% 0;
  margin: 116% 0 0 0;
  left: 36%;
  background-image: url(images/Voodoo_Doll.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#goth {
  width: 26%;
  padding: 15% 0;
  margin: 114% 0 0 0;
  left: 68%;
  background-image: url(images/Goth.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#thePrototype {
  width: 23%;
  padding: 18.5% 0;
  margin: 137% 0 0 0;
  left: 5%;
  background-image: url(images/The_Prototype.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#ouija {
  width: 33%;
  padding: 11% 0;
  margin: 154% 0 0 0;
  left: 33%;
  background-image: url(images/Ouija.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#theNightmareMuncher {
  width: 22%;
  padding: 14% 0;
  margin: 151% 0 0 0;
  left: 71.5%;
  background-image: url(images/The_Nightmare_Muncher.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#zylphia {
  width: 37%;
  padding: 22.5% 0;
  margin: 180% 0 0 0;
  left: 8%;
  background-image: url(images/Zylphia.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#violetAndVivian {
  width: 37%;
  padding: 22.5% 0;
  margin: 184% 0 0 0;
  left: 52%;
  background-image: url(images/Violet_And_Vivian.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#vertiline {
  width: 37%;
  padding: 22.5% 0;
  margin: 246% 0 0 0;
  left: 54%;
  background-image: url(images/Vertiline.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#eudora {
  width: 38%;
  padding: 23.5% 0;
  margin: 240% 0 0 0;
  left: 9%;
  background-image: url(images/Eudora.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#flora {
  width: 38%;
  padding: 22.5% 0;
  margin: 302% 0 0 0;
  left: 8%;
  background-image: url(images/Flora.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#maryAnnCotton {
  width: 38%;
  padding: 22.5% 0;
  margin: 306% 0 0 0;
  left: 54%;
  background-image: url(images/Mary_Ann_Cotton.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
