
/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	background-image: url('/images/background.jpg');
	background-repeat: repeat;
	background-position: center;
	color: rgb(145, 214, 211);
	font-family: 'Corben', cursive;
}
main header {
  max-width: 500px;
  margin: auto;
  position: relative;
}
main header #aquaframe {
  text-align: center;
  background-image: url('/images/aquaframe.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 21%;
}
main header h1 {
  font-size: 2em;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 10%;
  font-weight: bold;
  font-family: 'Mountains of Christmas', cursive;
}
main nav {
  margin: auto;
  text-align: center;
}
main nav a {
  color: rgb(145, 214, 211);
  text-decoration: none;
  display: inline-block;
  padding: 1em;
  font-family: 'Life Savers', serif;
  letter-spacing: .1em;
}
main nav a:hover {
  text-decoration: underline;
}
main article {
  display: none;
}
main article:target {
  position: relative;
  display: block;
}
main article h2 {
  font-family: 'Life Savers', serif;
  letter-spacing: .1em;
}
main article figure {
  outline: 1px solid red;
  position: absolute;
  font-size: 1vw;
}
main article figure figcaption {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 0;
}

#claudette {
  width: 20%;
  padding: 10% 0;
  margin: 0% 0 0 0;
  left: 0%;
  background-image: url(images/Claudette.jpg);
  background-repeat: norepeat;
  background-position: top;
  background-size: cover;
}

#hisLovelyAssistant {
  width: 20%;
  padding: 13% 0;
  margin: 5% 0 0 0;
  left: 25%;
  background-image: url(images/His_Lovely_Assistant.jpg);
  background-repeat: norepeat;
  background-position: top;
  background-size: cover;
}

#priscillaAndPeach {
  width: 20%;
  padding: 10% 0;
  margin: 0% 0 0 0;
  left: 50%;
  background-image: url(images/Priscilla_And_Peach.jpg);
  background-repeat: norepeat;
  background-position: top;
  background-size: cover;
}

#maxAndJax {
  width: 20%;
  padding: 10% 0;
  margin: 20% 0 0 0;
  left: 0%;
  background-image: url(images/Max_And_Jax.jpg);
  background-repeat: norepeat;
  background-position: top;
  background-size: cover;
}
