
/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	background-image: url('/images/background.jpg');
	background-repeat: repeat;
	background-position: center;
	color: rgb(145, 214, 211);
	font-family: 'Corben', cursive;
}
main header {
  max-width: 500px;
  margin: auto;
  position: relative;
}
main header #aquaframe {
  text-align: center;
  background-image: url('/images/aquaframe.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 21%;
}
main header h1 {
  font-size: 2em;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 10%;
  font-weight: bold;
  font-family: 'Mountains of Christmas', cursive;
}
main nav {
  margin: auto;
  text-align: center;
}
main nav a {
  color: rgb(145, 214, 211);
  text-decoration: none;
  display: inline-block;
  padding: 1em;
  font-family: 'Life Savers', serif;
  letter-spacing: .1em;
}
main nav a:hover {
  text-decoration: underline;
}
main article {
  display: none;
}
main article:target {
  position: relative;
  display: block;
}
main article h2 {
  font-family: 'Life Savers', serif;
  letter-spacing: .1em;
}
main article figure.exhibit {
  position: absolute;
  font-size: 1vw;
}
main article figure.exhibit figcaption {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 100%;
  left: 0;
}

#claudette {
  width: 26%;
  padding: 16% 0;
  margin: 3% 0 0 0;
  left: 5%;
  background-image: url(images/Claudette.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#hisLovelyAssistant {
  width: 25%;
  padding: 12.5% 0;
  margin: 5% 0 0 0;
  left: 37%;
  background-image: url(images/His_Lovely_Assistant.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#priscillaAndPeach {
  width: 26%;
  padding: 16% 0;
  margin: 3% 0 0 0;
  left: 69%;
  background-image: url(images/Priscilla_And_Peach.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#maxAndJax {
  width: 30%;
  padding: 17% 0;
  margin: 50% 0 0 0;
  left: 5%;
  background-image: url(images/Max_And_Jax.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#mementoMori {
  width: 40%;
  padding: 12% 0;
  margin: 50% 0 0 0;
  left: 49%;
  background-image: url(images/Memento_Mori.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#theMoon {
  width: 30%;
  padding: 12% 0;
  margin: 82% 0 0 0;
  left: 64%;
  background-image: url(images/The_Moon.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#bandLogo {
  width: 21%;
  padding: 10.5% 0;
  margin: 78% 0 0 0;
  left: 39%;
  background-image: url(images/Band_Logo.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#theSalesman {
  width: 25.5%;
  padding: 15.5% 0;
  margin: 99% 0 0 0;
  left: 5%;
  background-image: url(images/The_Salesman.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#voodooDoll {
  width: 25.5%;
  padding: 15.5% 0;
  margin: 116% 0 0 0;
  left: 36%;
  background-image: url(images/Voodoo_Doll.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#goth {
  width: 26%;
  padding: 15% 0;
  margin: 114% 0 0 0;
  left: 68%;
  background-image: url(images/Goth.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#thePrototype {
  width: 23%;
  padding: 18.5% 0;
  margin: 137% 0 0 0;
  left: 5%;
  background-image: url(images/The_Prototype.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#ouija {
  width: 33%;
  padding: 11% 0;
  margin: 154% 0 0 0;
  left: 33%;
  background-image: url(images/Ouija.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#theNightmareMuncher {
  width: 22%;
  padding: 14% 0;
  margin: 151% 0 0 0;
  left: 71.5%;
  background-image: url(images/The_Nightmare_Muncher.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#zylphia {
  width: 37%;
  padding: 22.5% 0;
  margin: 180% 0 0 0;
  left: 8%;
  background-image: url(images/Zylphia.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#violetAndVivian {
  width: 37%;
  padding: 22.5% 0;
  margin: 184% 0 0 0;
  left: 52%;
  background-image: url(images/Violet_And_Vivian.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#flora {
  width: 38%;
  padding: 22.5% 0;
  margin: 240% 0 0 0;
  left: 10%;
  background-image: url(images/Flora.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#vertiline {
  width: 37%;
  padding: 22.5% 0;
  margin: 246% 0 0 0;
  left: 54%;
  background-image: url(images/Vertiline.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
