/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	background-image: url('images/background.jpg');
	background-repeat: repeat;
	background-position: center;
	color: rgb(145, 214, 211);
	font-family: 'Corben', cursive;
}
main {
	
}
header {
	max-width: 400px;
	margin: auto;
	position: relative;
}
#aquaframe {
	text-align: center;
	background-image: url('images/aquaframe.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	padding: 21%;
}
h1 {
	font-size: 2em;
	text-align: center;
	width: 100%;
	position: absolute;
	top: 0;
	padding: 10%;
	font-weight: bold;
	font-family: 'Mountains of Christmas', cursive;
}
nav {
	max-width: 400px; 
}
nav a {
	color: rgb(145, 214, 211);
	text-decoration: none;
	display: inline-block;
	padding: 1em;
}
nav a:hover {
	text-decoration: underline;
}
h2 {
	font-family: 'Life Savers', cursive;
}
article {
	display: none;
}
article:target {
	display: block;
}