
$aqua: rgb(145, 214, 211);

@define-mixin lifesavers {
	font-family: 'Life Savers', serif;
	letter-spacing: .1em;
}

@define-mixin page {
	max-width: 500px;
	margin: auto;
}

/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	background-image: url('/images/background.jpg');
	background-repeat: repeat;
	background-position: center;
	color: $aqua;
	font-family: 'Corben', cursive;
}
main {
	header {
		@mixin page;
		position: relative;
		#aquaframe {
			text-align: center;
			background-image: url('/images/aquaframe.png');
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center;
			width: 100%;
			padding: 21%;
		}
		h1 {
			font-size: 2em;
			text-align: center;
			width: 100%;
			position: absolute;
			top: 0;
			padding: 10%;
			font-weight: bold;
			font-family: 'Mountains of Christmas', cursive;
		}
	}

	nav {
		margin: auto;
		text-align: center;
		a {
			color: $aqua;
			text-decoration: none;
			display: inline-block;
			padding: 1em;
			@mixin lifesavers;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	article {
		display: none;
		&:target {
			position: relative;
			display: block;
		}
		h2 {
			@mixin lifesavers;
		}
		figure.exhibit {
			outline: 1px solid $aqua;
			position: absolute;
			font-size: 1vw;
			border-width: 4vw;
			border-image: url(images/frame.png) 18% 20% 18% stretch;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: top;
			figcaption {
				position: absolute;
				text-align: center;
				width: 100%;
				top: 100%;
				left: 0;
			}
		}
	}
}

@mixin exhibits;
