
$aqua: rgb(145, 214, 211);

@define-mixin lifesavers {
  font-family: 'Life Savers', serif;
  letter-spacing: .1em;
}

@custom-media --desktop (min-width: 900px);

// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-image: url('/images/background.jpg');
  background-repeat: repeat;
  background-position: center;
  color: $aqua;
  font-family: 'Corben', cursive;
}
main {
  header {
    @media (--desktop) {
      width: 900px;
      margin: auto;
    }
    h1#aquaframe {
      text-align: center;
      background-image: url('/images/aquaframe.png');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      padding: 16%;
      font-size: 9vw;
      text-align: center;
      width: 100%;
      font-weight: bold;
      font-family: 'Mountains of Christmas', cursive;
      @media (--desktop) {
        font-size: 4.2em;
      }
    }
  }

  nav {
    margin: auto;
    text-align: center;
    a {
      color: $aqua;
      text-decoration: none;
      display: inline-block;
      padding: 1em;
      @mixin lifesavers;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  article {
    display: none;
    &#home {
      display: block;
    }
    &:target {
      position: relative;
      display: block;
      & ~ #home {
        display: none;
      }
    }

    h2 {
      @mixin lifesavers;
    }
    figure.exhibit {
      position: absolute;
      font-size: 1vw;
      figcaption {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 100%;
        left: 0;
      }
    }
  }
}

@mixin exhibits;
