
$aqua: rgb(145, 214, 211);

@define-mixin lifesavers {
  font-family: 'Life Savers', Georgia, serif;
  letter-spacing: .1em;
}

@custom-media --desktop (min-width: 900px);

// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-image: url('/images/background.jpg');
  background-repeat: repeat;
  background-position: center;
  color: $aqua;
  font-family: 'Corben', Georgia, cursive;
}
:link, :active, :visited {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: underline;
}
main {
  header {
    /*@media (--desktop) {
      width: 900px;
      margin: auto;
    }*/
    h1#aquaframe {
      text-align: center;
      background-image: url('/images/aquaframe.png');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      text-align: center;
      font-weight: bold;
      font-family: 'Mountains of Christmas';
      padding: 8.7% 0;
      margin: 1% auto;
      font-size: 4vw;
      width: 50%;
      /*@media (--desktop) {
        font-size: 3.5em;
      }*/
    }
  }

  nav {
    margin: auto;
    text-align: center;
    font-size: 3vw;
    a {
      display: inline-block;
      padding: 1em;
      @mixin lifesavers;
    }
  }

  article {
    display: none;
    &#home {
      display: block;
    }
    &:target {
      position: relative;
      display: block;
      & ~ #home {
        display: none;
      }
    }

    h2 {
      @mixin lifesavers;
      display: none;
    }
    figure.exhibit {
      position: absolute;
      font-size: 1vw;
      figcaption {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 100%;
        left: 0;
      }
    }

    form {
      font-size: 2em;
      label {
        display: flex;
        vertical-align: middle;
        margin: 1em;
        &.right {
          justify-content: flex-end;
        }
        [type=text], [type=email], textarea {
          font-size: 1em;
          vertical-align: middle;
          color: color($aqua shade(35%));
          background: black;
          border: 1px solid gray;
          border-radius: .25em;
          padding: .5em;
          flex-grow: 1;
          margin-left: 1em;
        }
        [type=submit] {
          background: black;
          border: 1px solid gray;
          border-radius: .25em;
          color: white;
          font-size: 1em;
          padding: .5em;
        }
      }
    }
  }
}

@mixin exhibits;
