mixin exhibit(id, item)
  - var linkAttrs = item.link ? {href: item.link} : {};
  a&attributes(linkAttrs)
    figure.exhibit(id=id)
      figcaption
        h3= item.title
        p= item.description
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title The Magnificent Miss F.
    meta(name='description' content='Paintings, illustrations, sculptures, and animations by artist Fae Comiskey')
    link(rel='stylesheet' href='index.css')
    link(href='https://fonts.googleapis.com/css?family=Corben|Mountains+of+Christmas:700|Life+Savers:700' rel='stylesheet' type='text/css')
  body
    main

      header
        h1#aquaframe The Magnificent Miss F.

      nav
        a(href='#illustration') Illustration
        a(href='#painting') Painting
        a(href='#sculpture') Sculpture
        a(href='#animation') Animation
        a(href='#contact') Contact
        a(href='#about') About

      article#illustration
        each item, id in data.illustration
          +exhibit(id, item)

      article#painting
        h2 Painting

      article#sculpture
        h2 Sculpture

      article#animation
        h2 Animation

      article#contact
        h2 Contact
        p For information about current or upcoming shows, purchasing, etc. email
            a(href='mailto: MagnificentF@gmail.com') MagnificentF@gmail.com
        p High quality custom prints can be purchased at
          a(href='http://www.imagekind.com/artists/MagnificentF/Feathers_and_Frockcoats/fine-art-prints') Imagekind

      article#about
        h2 About

      //- this page must be last

      article#home
        h2 Welcome
        each item, id in data.home
          +exhibit(id, item)
