mixin exhibit(id, item)
  - var linkAttrs = item.link ? {href: item.link} : {};
  a&attributes(linkAttrs)
    figure.exhibit(id=id)
      figcaption
        h3= item.title
        p= item.description
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title The Magnificent Miss F.
    meta(name='description' content='Paintings, illustrations, sculptures, and animations by artist Fae Comiskey')
    link(rel='stylesheet' href='index.css')
    link(href='https://fonts.googleapis.com/css?family=Corben|Mountains+of+Christmas:700|Life+Savers:700' rel='stylesheet' type='text/css')
  body
    main

      header
        a(href='#')
          h1#aquaframe The Magnificent Miss F.

      nav
        a(href='#illustration') Illustration
        a(href='#painting') Painting
        a(href='#sculpture') Sculpture
        a(href='#animation') Animation
        a(href='#contact') Contact
        a(href='#about') About

      article#illustration
        h2 Illustration
        if data.illustration
          each item, id in data.illustration
            +exhibit(id, item)

      article#painting
        h2 Painting
        if data.painting
          each item, id in data.painting
            +exhibit(id, item)

      article#sculpture
        h2 Sculpture
        if data.sculpture
          each item, id in data.sculpture
            +exhibit(id, item)

      article#animation
        h2 Animation
        if data.animation
          each item, id in data.animation
            +exhibit(id, item)

      article#contact
        h2 Contact
        p For information about current or upcoming shows, purchasing, etc. email
            a(href='mailto: MagnificentF@gmail.com') MagnificentF@gmail.com
        p High quality custom prints can be purchased at
          a(href='http://www.imagekind.com/artists/MagnificentF/Feathers_and_Frockcoats/fine-art-prints') Imagekind

        form(method='post', action='https://formspree.io/magnificentf@gmail.com')

          label Email
            input(type='email', name='email', placeholder='you@domain.com')

          label Subject
            input(type='text', name='_subject')

          label Message
            textarea(name='message')

          label.right
            input(type='submit', value='Send')

          input(type='text', name='_gotcha', style='display:none')
          input(type='hidden', name='_next', value='#thanks')

      article#thanks
        h2 Thanks for your email

      article#about(style="text-align:center")
        h2 About
        h1 Just exactly who is
        h1 The Magnificent Miss F ?
        figure
          img(src="images/Miss_F..jpg")
        p Some say she is just a myth... <br>others believe that she was once a person just as you or I, <br>but is now made almost entirely of bits of antique taxidermy and clockwork. <br>Others argue that she is some sort of changeling trapped in the wrong dimension, <br>or perhaps a top secret experiment by our own government, gone terribly wrong. <br>It is likely we may never know for sure.
        p One thing that is certain, is that when the moon is full and the wind blows just so, <br>and the crickets in the reeds chirp just at the very same time <br>that someone on a third level flat drops and breaks an old typewriter quite by accident...
        p Those are the times that the packages appear.
        p They come wrapped in old crinkled ads for hand knitted wool stockings, <br>tied with bits of ribbon and string found lining birds nests, <br>and long silken hairs from the heads of children stolen by gypsies. <br>One was hollow and covered completely in ornate keyholes, yet could not be seen through, <br>and still another floated just a bit off the ground and emitted a strange light, <br>yet when immersed in water (don't dare ask why or how this occurred), <br>it sank immediately like a broken heart.
        p As the whereabouts or even existence of The Magnificent Miss F. are in question, <br>I for one believe she is someplace here among us, <br>perhaps perched in an old clock tower keeping a chart of how many times a week <br>we make silly faces whilst tripping over inanimate objects, <br>and cross referencing it with a chart of how many times a day cats make silly faces whilst we trip over them. <br>Or tiptoeing across the surface of a pond stealing fireflies to make into ink for writing glowing reviews of boring plays. <br>Some say they catch fleeting glimpses of her in night gardens telling secrets to frogs, <br>or down the ends of paths that don't go any place...
        p As the packages keep coming, I for one must be inclined to believe that she is still out there someplace, <br>breathing life into very small and strange things. <br>I will continue to document their existence on these pages, <br>in hopes that someday they may have some scientific purpose...
        p I have found a set of plans intending to build some great machine, <br>in which her creations are to be used as cogs. <br>From my studies I have concluded this machines purpose appears to be <br>to turn the planet on its axis just a fraction of a degree, <br>so that half of the worlds scraped knees turn into something more amiable.
        p Perhaps bunnies.
        p Your humble Virtuoso,
        figure
          img(src="images/Oni.jpg")
        p Oni the Cat

      //- this page must be last

      article#home
        h2 Welcome
        each item, id in data.home
          +exhibit(id, item)
